# ignore wifi settings and node modules
arduino/secrets.h

now-application/api secets
now-application/api/.env

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
now-application/node_modules/
now-application/api/node_modules/

# production
now-application/build/

# misc
now-application/.DS_Store
now-application/.env.local
now-application/.env.development.local
now-application/.env.test.local
now-application/.env.production.local

now-application/npm-debug.log*
now-application/yarn-debug.log*
now-application/yarn-error.log*

# python stuff
python/__pycache__/
python/log*
now-application/.now